body {
    font-family: 'Jua', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #35465d;
}
.file-upload {
    padding: 10% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #F2F2F2;
    background-color: #F2F2F2;
    box-shadow: 1px 1px 1px 1px #BDBDBD;
    width: 80%;
    margin-top: 50px !important;
}
.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}
#loading {
    display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    width: 80%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #BDBDBD;
}

.try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #35465d;
}

.try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.navbar-light {
    background: #ffffff;
    box-shadow: 1px 1px 3px grey;
}

.navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
    
}

.section {
    margin-top: 20px;
}

.title {
    padding-top: 80px;
    line-height: 1.67;
    text-align: center;
    color: #2E2E2E;
}

.subtitle {
    line-height: 1.53;
    text-align: center;
    color: #424242;
    margin-bottom: 20px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .navbar-brand {
        font-size: 2rem;
    }
}

.youtube-link {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-icon {
    width: 30px;
    height: 27.262px;
}

.upload {
    width: 30%;
    margin-top: 40px;
}

.upload-text {
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.result-message {
    font-size: 1.5rem;
}

.ad-banner {
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}

.friend {
    width: 250px;
    height: 80px;
    border: 1px solid #e7ebee;
    margin: 0 auto;
    background-color: #ffffff;
}
.friend canvas {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px;
    float: left;
}
.friend p {
    margin: 15px auto;
}
.friend p strong {
    font-weight: 600;
    font-size: 16px;
    color: #597a96;
}
.friend p span {
    font-size: 14px;
    font-weight: 400;
    color: #aab8c2;
}

.ins-add {
    margin: 0 auto;
}


img.img_chof1 {
    position: absolute;
    left: 70%;
    top: 90px;
    z-index: -1;
}
